streamlit
pandas
numpy
# The causalimpact library from Google is built on top of TensorFlow and TensorFlow Probability
# It's recommended to install specific compatible versions if you encounter issues
causalimpact
tensorflow=2.10.0
tensorflow-probability=0.16.0

# For data processing and machine learning
scikit-learn
scipy==1.12.0
pyjanitor

# For plotting
matplotlib
